<div class="container">
<div class="row">
  <div class="col-xs-1-12">
    <div class="card">
      <div class="card-header">
        <p class="card-title">{{user.name}}</p>
        <p><small>{{user.username}}</small></p>
      </div>
      <div class="card-body">
       <div>
         <p><small>Personal Details</small></p>
         <hr>
         <p>{{user.email}}</p>
         <p>{{user.phone}}</p>
       </div>
      </div>
    </div>
  </div>
</div>
</div>