<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-lg-4" *ngFor="let post of posts">
      <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
          <h4 class="card-title">{{post.userId}}</h4>
          <hr>
          <div>
            <p>{{post.id}}</p>
            <hr>
            <p>{{post.title}}</p>
            <hr>
            <p>{{post.body}}</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
