<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
          <h4 class="card-title">Login</h4>
          <div class="card-text">
            <form [formGroup]="form" >
            <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
            
            </form>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" (click)='submit(form)' class="btn btn-primary submit-button" [disabled]='form.invalid'>Submit</button>
          <button type="button" class="btn btn-default" (click)="options.resetModel()">Reset</button></div>
      </div>

    </div>
  </div>
</div>
