<div class="container">
  <div class="row" >
    <div class="col-xs-12 col-md-4 col-lg-4" *ngFor="let user of users">
      <div class="card" (click)=(viewUser(user))>
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
          <h4 class="card-title">{{user.name}}</h4>
          <div>
            <p>{{user.id}}</p>
            <p>{{user.phone}}</p>
            <p>{{user.username}}</p>
            <p>{{user.address.city}}</p>
            <p>{{user.address.geo.lat}}</p>
            <p>{{user.address.geo.lng}}</p>
            <p>{{user.street}}</p>
            <p>{{user.suite}}</p>
            <p>{{user.zipcode }}</p>
            <p>{{user.company.name}}</p>
            <p>{{user.company.bs}}</p>
            <p>{{user.company.catchPhrase}}</p>
            <p><a [href]="user.website">{{user.website}}</a></p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
