.container {
  position: -webkit-sticky;
  margin: 0em;
  padding: 0em;
  justify-content: center;


  .container p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
  }
}